# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.id4.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\temp\code\identity-server4-with-SPA-UI\id4\.idea\.idea.id4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
